.mostOrderedGeneralConteiner{
    width: 100%;
    background: #F5F5F5;
    
}
.mostOrderedPositionConteiner{
width: 70%;
margin: auto;
}
/* ---------------------------Title----------------- */
.mostOrderedTitleAndText{
   height: 20%; 
   margin: 20px 0;
}
.mostOrderedText{
    width: 80%;
    text-align: center;
}

/* ---------------------------Slides----------------- */
.mostOrderedSlides{
    margin: 50px 0;
    height: 60%;
    
}
/* .slideCard{
     
    margin: 0px 5px;    
} */

.slideCard .box_img{
    width: 97%;
}
.slideCard .text_main{
    width: 97%;
 
}
/* ---------------------------Buttons----------------- */
.mostOrderedButtonsConteiner{
    height:20%;
    width: 100%;
    margin-bottom: 40px;
}
.leftArrow{
    width: 120px;
    margin-right: 2px;

}
.rightArrow{
    width: 120px;
}