.loginPageContenier{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.loginPage{
   
    width: 50%;
    height: 100%;
    align-items: center;
    
}
.loginPagePhoto{
    width: 50%;
    background-image: url(../../../assets/img/image1.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.loginPageBackground{
    width: 100%;
    background-image: url(../../../assets/img/image2.png);
    height: 100%;
}
.loginContenier {
    width:40% ;
    height: 60%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    

}

.loginPageFormConteiner{
  
    justify-content: space-between;
    height: 50%;
}
.loginForm{
    
    justify-content: space-between;
    height: 85%}
.loginPageLine{
    
    width: 10%;
    border: 1px solid #FFFFFF
}
.loginPageSignup{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 35%;
    
    
}
.loginPageButtton{
    width: 300px;
    border: 1px solid white ;
    align-items: center;
    background: transparent;
    
    

}
.loginSignupText{
    width: 50%;
}
.formButton{
    background: #1EDA47;
    border-radius: 6px;
}
.loginPageIcons{
    width: 40%;
    margin: 0 auto;
}
.loginPageSignupIcone{
    width: 60%;
}