.main_p {
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: -0.015em;
    margin: 0 0 32px 0;
    padding-top: 290px;
    text-transform: uppercase;
    color: white;
}

.main_h1 {
    font-family: 'Montserrat-Bold';
    font-size: 56px;
    line-height: 80px;
    letter-spacing: -0.015em;
    margin-bottom: 235px;
    color: white;
}

.aboutUs_h1 {
    font-family: 'Montserrat-Regular';
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    margin: 120px 250px 60px 0;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    color: #050606;
}

.aboutUs_p {
    font-family: 'Montserrat-Regular';
    width: 1042px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #aaabab;
}

.boxes_p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    width: 798px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    color: #aaabab;
}

.services_h1 {
    font-family: 'Montserrat-Regular';
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    width: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 15px;
    color: #050606;
}

.services_p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    width: 798px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    text-align: center;
    color: #aaabab;
}
