.username {
    max-width: 100%;
    width: 550px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #5C5E62;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    padding: 14px 20px;
}