.main {
    background-image: url(../../assets/img/jpg/main_background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_h1 {
    font-family: 'Montserrat-Bold';
    font-size: 56px;
    line-height: 80px;
    letter-spacing: -0.015em;
    margin-bottom: 235px;
    color: white;
}

.main_p {
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: -0.015em;
    margin: 0 0 32px 0;
    padding-top: 290px;
    text-transform: uppercase;
    color: white;
}

.main_btn a {
    text-decoration: none;
    font-family: 'Montserrat-Regular';
    padding: 15.3px 51.78px 15.7px 50.22px;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.015em;
}

.main_btn a:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}

.main_btn {
    padding-bottom: 156px;
}
