.main {
    background-image: url(../../assets/img/jpg/main_background_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_btn {
    font-family: 'Montserrat-Regular';
    padding: 15.3px 51.78px 15.7px 50.22px;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.015em;
    background-color: transparent;
    margin-bottom: 156px;
}

.main_btn:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}
