.contactUsGeneralConteiner{
    width: 100%;
    min-height: 1100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}
.contactUsFormTitle{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-start;
}
.contactUsImage{
    width:55.53%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Image/joshua-ryder-I51a7Yy7mQA-unsplash\ 1.png);
    background-position: center;
    background-size: cover;
}

.contactUsImageTitleAndText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 500px;
    
}
.contactUsTitleAndText{
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.contactUsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.contactUsText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.empty{
    height: 40%;
}
.contactUsFormGeneral{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    align-items: center;

}
.contactUsFormConteiner{
    width: 70%;
}
.massageTextarea {
    max-width: 468px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #5C5E62;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.015em;
    
}
.massageTitle{
    margin: 25px 0 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #5C5E62;
}
.verificationConteiner{
    margin: 10px 0 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #5C5E62;
}