.boxes_wrapper {
    background-color: #f5f5f5;
}

.boxes_h2 {
    padding-top: 65px;
}

.boxes_p {
    margin: 15px 321px 55px 321px;
}

.boxes_btn {
    text-align: right;
    width: 192px;
    height: 52px;
    margin-left: auto;
    padding-bottom: 80px;
}

.boxes_btn > .button {
    padding: 15.3px 54px;
}

.box_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
