.input-error {
    color: red;
    margin: 5px 10px;
}
.modal-content {
    height: 230px;
    width: 100%;
    border: none;
  }
  .modal-header, .modal-footer {
    border: none;
    padding: 10px
  }
  .modal-title {
    margin: 0
  }
 