.servicesGeneralContenier{
    min-height: 600px;
}



.servicesContenier{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    
    
}
.servicesInfo {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.servicesInfoText{
    width: 60%;
    text-align: center;
    margin: 10px 0 30px 0;

}
.servicesCardContenier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 320px;        
}
.servicesCard{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 20%;
    margin: 20px;
    text-align: center;
}


.servicesCardText{
    width: 80%;
}
.servicesCardTitle{
    margin: 10px 0;
}
.servicesButtonDiv{
width: 100%;
    
}
.servicesButton{
    background: #1EDA47;
    border-radius: 6px;
    width: 160px;
    height: 40px;
}

.servicesCard .box .text_main{
    
    margin-top: 20px;
}
.servicesCard .box .h3_text{
   margin: 0 auto;
}

.servicesButton{
    width: 180px;
    height: 50px;
}