/* .App{
  height: 100vh;
  min-width:320px ;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 50px;
}
.logoAndNavigationMenu {
    width: 50%;
    display: flex;
    /* justify-content: start; */
    align-items: center;
}
.navigationMenu {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
}
.registrationAndSignInButton {
    width: 200px;
    display: flex;
}
.App {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
}

.styles_WrapperUi__2TxXl{
  bottom: 0 !important;
  position: fixed !important;
}

.pacman-min_la-pacman__1llhL.pacman-min_la-2x__aGiKp
/* ,.square-jelly-box-min_la-square-jelly-box__3qdI1  */
{
  color: #fade6f !important;
}