/* FONTS */
@font-face {
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa-Regular'),
        url('./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf')
            format('woff');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Regular'),
        url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat-Regular'),
        url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('woff');
}

.container {
    width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 1366px) {
    .container {
        width: 1220px;
    }
    .contact_block_p {
        float: none;
    }
    .contact_block_h1 {
        float: none;
    }
    .contact_block_about {
        width: 700px;
        background-size: cover;
        background-position-x: center;
    }
}
