.App{
  height: 100vh;
  min-width:320px ;
  box-sizing: border-box;
}


.header{
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: 50px;
  
}
.logoAndNavigationMenu{
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navigationMenu{
 
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex: 1;
}
.registrationAndSignInButton{
  width: 200px;
  display: flex;
  
}
