.aboutUsGeneralConteiner{
    width:100% ;
    justify-content: center;
    align-items: center;

}
.aboutUsTitle{
    display: flex;
    align-items: center;
    justify-content: center;

}
.aboutUsbody{
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
}