.btn_login {
    font-family: 'Montserrat-Regular';
    letter-spacing: -0.015em;
    padding: 11px 42px;
    border: 1px solid black;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    background-color: white;
}

.btn_reg {
    padding: 11px 34px;
}

.btn_block :hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.boxes_btn {
    padding-bottom: 80px;
    margin-left: auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Montserrat-Regular';
    letter-spacing: -0.015em;
    padding: 15.3px 55.78px 15.7px 55.22px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 80px;
}

.boxes_btn:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}
