.img_block {
    width: 100%;
    /* text-align: center; */
}

.img_block img {
    width: 100%;
}

.images_block_h2 {
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    margin: 15px 0 25px 0;
    /* width: 85%; */
    text-align: center;
}

.images_block_p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    margin-bottom: 60px;
    color: #5c5e62;
    width: 85%;
}
