body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
p,
span {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'Comfortaa-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa-Regular'),
        url('../src/App/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf')
            format('woff');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat-Regular'),
        url('../src/App/assets/fonts/Montserrat/Montserrat-Regular.ttf')
            format('woff');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Montserrat-Regular'),
        url('../src/App/assets/fonts/Montserrat/Montserrat-Bold.ttf')
            format('woff');
}
