.img_block {
    width: 100%;
    margin-right: 18px;
}

.img_block img {
    width: 100%;
}

.images_block_h2 {
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    margin: 15px 0 25px 0;
}

.images_block_p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    margin-bottom: 60px;
    color: #5c5e62;
}

.food_elem {
    text-align: center;
}

.food_elem {
    margin-bottom: 60px;
    margin-right: 36px;
    cursor: pointer;
}

.food_elem h1 {
    text-align: center;
    margin: 15px 0 23px 0;
    color: #050606;
}

.food_elem p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    text-align: center;
    width: 276px;
    text-align: center;
    color: #5c5e62;
}
